#root{
    width: 200px;
    margin: 0 auto;
    .result{
        height: 40px;
        background-color: black;
        .result-value{
            text-align: end;
            height: 100%;
            font-size: 30px;
            color: white;
            padding-right: 15px;
        }
    }
    .button-wrapper{
        display: flex;
        justify-content: center;
        background-color: black;
        .operator{
            display: flex;
            flex-direction: column;
            button{
                background-color: orange;
                &:hover{
                        background-color: #ffc7af;
                }
                &:focus{
                        background-color: white;
                        color: orange;
                }

            }
        }
    }

    button{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 5px;
        background-color: #555;
        color: white;
        font-size: 25px;
        border: none;
        &:hover{
            background-color: #999;
        }
    }
}